Repository jvlar/watchmelog: changes, and which pre-commit hooks are due for each by the changed paths.
All: black-formatter, relock

black-formatter:
  name: Format Python with Black
  entry: make lint
  language: system

relock:
  name: Regenerate pyproject.lock
  entry: poetry lock
  language: system
  pass_filenames: false

more mongo stuff again
  watchmelog/app.py
Due: black-formatter

Add pagination to game list and fancy mongo filter support
  watchmelog/api/v1/views/players.py
Due: black-formatter

port is an int now
  watchmelog/app.py
Due: black-formatter

a README
  README.md
  watchmelog/web/views/auth.py
Due: black-formatter

badges on one line
  README.md
Due: none

removed templates, web is now auth api
  watchmelog/app.py
  watchmelog/resources/config/config.yaml
  watchmelog/templates/base.jinja2
  watchmelog/templates/index.jinja2
  watchmelog/templates/profile.jinja2
  watchmelog/web/__init__.py
  watchmelog/web/views/web.py
  zappa_settings.json
Due: black-formatter

now with less apistar and more flask
  pyproject.lock
  pyproject.toml
  watchmelog/.apistar.yml
  watchmelog/app.py
  watchmelog/old-api/v1/__init__.py
  watchmelog/old-api/v1/auth.py
  watchmelog/old-api/v1/models/__init__.py
  watchmelog/old-api/v1/models/games.py
  watchmelog/old-api/v1/models/players.py
  watchmelog/old-api/v1/types/__init__.py
  watchmelog/old-api/v1/types/games.py
  watchmelog/old-api/v1/types/players.py
  watchmelog/old-api/v1/views/__init__.py
  watchmelog/old-api/v1/views/players.py
  watchmelog/old-web/models/__init__.py
  watchmelog/old-web/models/state.py
  watchmelog/old-web/utils.py
  watchmelog/old-web/views/__init__.py
  watchmelog/old-web/views/auth.py
  watchmelog/site/__init__.py
  watchmelog/site/root.py
  watchmelog/web/__init__.py
  zappa_settings.json
Due: black-formatter, relock

Add flask-mongoengine and models
  pyproject.lock
  pyproject.toml
  watchmelog/app.py
  watchmelog/models/__init__.py
  watchmelog/models/games.py
  watchmelog/models/players.py
  watchmelog/old-api/v1/models/games.py
Due: black-formatter, relock

fixed models, added oauth routes, added templates
  pyproject.lock
  pyproject.toml
  watchmelog/app.py
  watchmelog/core/__init__.py
  watchmelog/core/player.py
  watchmelog/db.py
  watchmelog/models/games.py
  watchmelog/models/players.py
  watchmelog/models/state.py
  watchmelog/resources/config/config.yaml
  watchmelog/site/auth.py
  watchmelog/site/root.py
  watchmelog/templates/base.jinja2
  watchmelog/templates/index.jinja2
  zappa_settings.json
Due: black-formatter, relock

fixed zappa deploy
  watchmelog/app.py
  zappa_settings.json
Due: black-formatter

started csv import feature
  watchmelog/app.py
  watchmelog/resources/config/config.yaml
  watchmelog/template_helpers.py
  watchmelog/templates/player/csv_import.jinja2
  watchmelog/web/csv.py
  watchmelog/web/utils.py
Due: black-formatter

Add formhelper and super basic function for form status
  watchmelog/template_helpers.py
  watchmelog/templates/_formhelpers.jinja2
Due: black-formatter

Log game in progress...
  watchmelog/app.py
  watchmelog/forms.py
  watchmelog/models/games.py
  watchmelog/templates/_formhelpers.jinja2
Due: black-formatter

Add missing files...
  watchmelog/templates/log_game.jinja2
  watchmelog/web/games.py
Due: black-formatter

basic csv import form done
  watchmelog/app.py
  watchmelog/templates/player/csv_import.jinja2
  watchmelog/web/csv.py
  watchmelog/web/utils.py
Due: black-formatter

first version of csv import
  watchmelog/core/csv.py
  watchmelog/models/games.py
  watchmelog/templates/player/csv_import.jinja2
  watchmelog/web/csv.py
Due: black-formatter

Path conditions:
  black-formatter: any of: \.py$
  relock: any of: pyproject.toml
